{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style='.btn {background-color: #4CAF50;color: white;padding: 12px;margin: 10px 0;border: none;width: 100%;
  border-radius: 3px;cursor: pointer;font-size: 17px;}'>
	<div class="row justify-content-md-center">
	<div class="col-50">
      <div class="container">
        <h4>Заказ <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{ cart.get_totail_items }}</b></span></h4>
        {% for item in cart %}
        <p><a href="#">{{ item.product.name }}</a>x {{ item.quantity }}<span class="price">{{ item.total_price }}</span></p>
        <br>
        {% endfor %}
	      <hr>
        <p>Общая стоимость: <span class="price" style="color:black"><b>{{ cart.get_total_price }}</b></span></p>
      </div>
  </div>
  <div class="col-75">
    <div class="container">
      <form action="." method="post" enctype="multipart/form-data" >
      	{% csrf_token %}
      
        <div class="row">
          <div class="col-50">
            <h3>Адрес доставки</h3>
            <label for="fname"><i class="fa fa-user"></i> Полное имя</label>
            <input type="text" id="fname" name="firstname" placeholder="Иванов Иван">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="ivan@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Адрес</label>
            <input type="text" id="adr" name="address" placeholder="Проспект Победителей 13">
            <label for="city"><i class="fa fa-institution"></i> Город</label>
            <input type="text" id="city" name="city" placeholder="Минск">
            <label for="zip">Индекс</label>
            <input type="text" id="zip" name="zip" placeholder="220000">
		</div>
          </div>          
      </form>
	    <input type="submit" class="btn btn-primary" value="Подтвердить заказ">
      </div>
       <input type="submit" class="btn btn-primary" value="Подтвердить заказ">
  </div>
  
</div>
	 </div>
{% endblock %}
