{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="color: black;font-size: 18pt;text-decoration: none;font-family: 'Lobster', cursive;">
    <div class="container-fluid">
	<div class="row justify-content-md-center" >
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
            <ul class="list-group">
                <li class="list-group-item">
                    <h1>Войти в аккаунт</h1>
                </li>
                <li class="list-group-item" >
                    <form method="post" action="">
                        {% csrf_token %}
                        Имя пользователя: <br><input type ="text" name ="username" value=""  size="50"> <br />
                        <br>
                        Пароль:<br> <input type ="password" name ="password" value=""  size="50"/> <br />
                        <br>

                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color:red;">{{ message }}<p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group g-recaptcha" data-sitekey="6Lfbm2YaAAAAAGzzUyF-aVYT5TtUQZQV-bo3IpW7"></div>
                        <button type="submit" class="btn btn-primary btn-block">Войти</button>
                    </form>
                </li>
                <li class="list-group-item" >
                    <div class="card-body">
                        Ещё нет аккаунта? <a href="{% url 'registration' %}"> Зарегистрируйтесь
                        <span class="bi bi-person-plus-fill"> </a></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>

    <br>


</div>
{% endblock %}
