{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="color: black;font-size: 18pt;text-decoration: none;font-family: 'Lobster', cursive;">
    <div class="container-fluid">
        <div class="row justify-content-md-center" >
            <div class="col col-lg-2">
            </div>
            <div class="col-md-auto">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h1>Создание нового аккаунта</h1>
                    </li>
                    <li class="list-group-item">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in user_form %}
                                <div class="fieldWrapper" >
                                    {{ field.errors }}
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <br>
                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            {% if messages %}
                                    {% for message in messages %}
                                        <p style="color:red;">{{ message }}<p>
                                    {% endfor %}
                            {% endif %}
                            <div class="form-group g-recaptcha" data-sitekey="6Lfbm2YaAAAAAGzzUyF-aVYT5TtUQZQV-bo3IpW7"></div>


                            <button type="submit">Отправить</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="col col-lg-2">
            </div>
        </div>
    </div>
</div>

{% endblock %}