{% load static %}

<html lang="en" >
    <head>
        <title>Main</title>
        <meta charset="utf-8" />
        <link rel="icon" href="data:;base64,=">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/store.css' %}">

    </head>
    <body>
        <div class="page-header">
            <h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'basket' %}"><span class="glyphicon glyphicon-shopping-cart" title="Корзина"></span></a>
                    <a href="{% url 'logout' %}" ><span class="glyphicon glyphicon-log-out" title="Выйти из аккаунта"></span></a>
                        <span class="glyphicon glyphicon-user" style="height:15px;width:15px" title="{{ user }}"></span>
                {% else %}
                    <a href="{% url 'login' %}" ><span class="glyphicon glyphicon-log-in" title="Войти в аккаунта"></span></a>
                {% endif %}
            </h1>
        </div>
        <div class="container">
            <div class="post">
                <h>
                    <br><br>
                    <a href="{% url 'product_list' %}" >Магазин</a>
                    <br><br>
                    <a href="{% url 'post_list' %}" >Форум</a>
                </h>
            </div>
        </div>

    </body>

</html>