{% extends 'store/base.html' %}

{% block content %}

    <h1>
        Список товаров:
    </h1>

    {% for product in products %}
        <div class="post">
            <h1>
                <a href="{% url 'product_detail' product_pk=product.pk %}">{{ product.name }}</a>
            </h1>
            <div class="date">
                В наличии с: {{ product.date }}
            </div>
            {% if product.image %}
                <img src= {{ product.image.url }}  alt="{{ product.name }}" height="60" width="60"><br>
            {% endif %}
            <div class="date">
                Цена: {{ product.price }}
            </div>
            <div>_____________</div>
        </div>

    {% endfor %}

{% endblock %}
