{% extends 'blog/base.html' %}

    {% block content %}
        <div class="post" xmlns="http://www.w3.org/1999/html">
            <h1>
                {{post.title}}
            </h1>
            <div class="date">
                {% if post.draft == False %}
                    Опубликован: {{ post.date }}
                {% else %}
                    Создан: {{ post.date }}
                {% endif %}
                <br>
            </div>
            <h>
                Категория: <a href="{% url 'cat_post_list'  cat_pk=post.category.pk %}">{{ post.category.name }}</a>
            </h>

            <br>

            {% if user == post.author %}
                <a class="btn btn-default" href="{% url 'post_edit' post_pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil" title="изменить"></span> </a>
                <a class="btn btn-default" href="{% url 'post_delete' post_pk=post.pk %}">
                    <span class="glyphicon glyphicon-trash" title="удалить"></span> </a>
                {% if post.draft == True %}
                    <a href="{% url 'published_draft' post_pk=post.pk %}">Опубликовать</a>
                {% endif %}
            {% endif %}

            <p><h2>
                {{post.text}}
            </h2></p>

            {% if post.image %}
                <img src= {{ post.image.url }}  alt="{{ post.title }}" height="220" width="260"><br>
            {% endif %}
            <div> Tags:
                {% for tag in post.tag.all %}
                    <a href="{% url 'tag_post' tag_pk=tag.pk %}">#{{tag.text}}</a>
                    {% if user == post.author %}
                        <a class="btn btn-default" href="{% url 'tag_delete' post_pk=post.pk tag_pk=tag.pk%}">
                            <span class="glyphicon glyphicon-trash" title="удалить"></span> </a>
                    {% endif %}
                {% endfor%}
                ---
                {% if user == post.author %}
                    <a href="{% url 'tag_add' post_pk=post.pk %}">Добавить новый тег</a>
                {% endif %}
            </div>

            </br>

            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_like_or_dislike' post_pk=post.pk is_like='like' point='post_detail'%}">
                    <span class="glyphicon glyphicon-thumbs-up"> {{ post.post_likes }}</span></a>
                <a class="btn btn-default" href="{% url 'post_like_or_dislike' post_pk=post.pk is_like='dislike' point='post_detail'%}">
                    <span class="glyphicon glyphicon-thumbs-down"> {{ post.post_dislikes }}</span></a>
            {% endif %}

        </div>

        Количество просмотров: {{ post.counter }}<br>
        Всего комментариев: {{ comments.counter }}<br><br>

        {% if user.is_authenticated %}
            <a href="{% url 'post_comment' post_pk=post.pk %}"> Добавить комментарий</a>
            <br><br>
            Комментарии:<br><br>
            <div class="post" xmlns="http://www.w3.org/1999/html">
            {% for comment in comments %}
                {{ comment.author }}<br>
                <div class="date">
                    Опубликован: {{ comment.date }}<br>
                </div>
                {{ comment.text }}<br>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'comment_like_or_dislike' post_pk=post.pk comment_pk=comment.pk is_like='like'%}">
                        <span class="glyphicon glyphicon-thumbs-up"> {{ comment.comment_likes }}</span></a>
                    <a class="btn btn-default" href="{% url 'comment_like_or_dislike' post_pk=post.pk comment_pk=comment.pk is_like='dislike'%}">
                        <span class="glyphicon glyphicon-thumbs-down"> {{ comment.comment_dislikes }}</span></a>
                {% endif %}
                {% if user == comment.author %}
                    <a class="btn btn-default" href="{% url 'comment_edit' post_pk=post.pk comment_pk=comment.pk %}">
                        <span class="glyphicon glyphicon-pencil" title="изменить"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_delete' post_pk=post.pk comment_pk=comment.pk %}">
                        <span class="glyphicon glyphicon-trash" title="удалить"></span></a>
                {% endif %}
                <br><br>
            {% endfor %}
            </div>
        {% endif %}



    {% endblock %}
