{% extends 'base.html' %}

{% block content %}

    <h1>
        Посты {{category.name}}:
    </h1>

    {% for post in posts %}

        <div >
            <h><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h>

            <div>
                Опубликовано: {{ post.date }}
            </div>
            <div>
                <p>
                    {% if post.image %}
                         <img src= {{ post.image.url }}  alt="{{ post.title }}"
                                style="height:120; width:120; float:left; margin: 7px 7px 7px 0;">
                    {% endif %}
                    {{ post.text}}
                </p>

            </div>

            {% if user.is_authenticated and post.draft == False %}
                <a class="btn btn-default" href="{% url 'post_like_or_dislike' slug=post.slug is_like='like' point='post_list' %}">
                    <span class="bi bi-hand-thumbs-up"> {{ post.post_likes }}</span></a>
                <a class="btn btn-default" href="{% url 'post_like_or_dislike' slug=post.slug is_like='dislike' point='post_list'%}">
                    <span class="bi bi-hand-thumbs-down"> {{ post.post_dislikes }}</span></a>
            {% endif %}

            {% if user == post.author %}
                <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
                    <span class="bi bi-pencil-square" title="изменить"></span></a>
                <a class="btn btn-default" href="{% url 'post_delete' slug=post.slug %}">
                    <span class="bi bi-trash" title="удалить"></span></a>
            {% endif %}
        </div>

    {% endfor %}

{% endblock %}
