{% extends 'base.html' %}

    {% block content %}
    <div class="container">
	    <div class="row" style="margin-bottom: 5%;">
            <div class="col col-lg-2">
            </div>

		    <div class="col">

                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper" >
                            {{ field.errors }}
                            {{ field.label_tag }}<br>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary"> Отправить </button>
                </form>
            </div>


            <div class="col col-lg-2">
            </div>
        </div>
    </div>

    {% endblock %}
