{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-md-center">
        <div class="col-2">
            <h1>
                {% if user.is_authenticated %}
                <a href="{% url 'new' %}"  title="Новый пост">
                    <span class="bi bi-journal-plus"></span></a>
                <a href="{% url 'draft_list' %}"  title="Черновики"><span class="bi bi-paperclip">
                    {% if drafts_counter > 0%}
                    {{drafts_counter}}
                    {% endif %}
                </span></a>
                {% endif %}
            </h1>
            <h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'post_list' %}">Все категории</a>
                    </li>
                    {% for cat in categories %}
                        {% if cat  == post.category%}
                            <li class="list-group-item">
                                <a href="{% url 'cat_post_list' slug=cat.slug %}" style="color: red">{{cat.name}}</a>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <a href="{% url 'cat_post_list' slug=cat.slug %}">{{cat.name}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </h6>
        </div>

		<div class="col-6">
            <h1>
                {{post.title}}
            </h1>
            <div class="date">
                {% if post.draft == False %}
                    Опубликован: {{ post.date }}
                {% else %}
                    Создан: {{ post.date }}
                {% endif %}
                <br>
                Категория: <a href="{% url 'cat_post_list'  slug=post.category.slug %}">{{ post.category.name }}</a>
            </div>

            <p>
                {% if post.image %}
                    <img src= {{ post.image.url }}  alt="{{ post.title }}"
                         style="height:320px; width:auto; float:left; margin: 7px 7px 7px 7px;">
                {% endif %}
                {{ post.text}}

            </p>

            <div> Tags:
                {% for tag in post.tag.all %}
                    <a href="{% url 'tag_post' tag_pk=tag.pk %}">#{{tag.text}}</a>
                    {% if user == post.author %}
                        <a class="btn btn-default" href="{% url 'tag_delete' slug=post.slug tag_pk=tag.pk%}">
                            <span class="bi bi-trash" title="удалить"></span> </a>
                    {% endif %}
                {% endfor%}
                ---
                {% if user == post.author %}
                {% endif %}
				<form method="POST" action="">
					{%csrf_token%}
					{{form.as_p}}
					<button type="submit">Добавить новый</button>
				</form>

            </div>

            </br>

            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_like_or_dislike' slug=post.slug is_like='like' point='post_detail'%}">
                    <span class="bi bi-hand-thumbs-up"> {{ post.post_likes }}</span></a>
                <a class="btn btn-default" href="{% url 'post_like_or_dislike' slug=post.slug is_like='dislike' point='post_detail'%}">
                    <span class="bi bi-hand-thumbs-down"> {{ post.post_dislikes }}</span></a>
            {% endif %}

            {% if user == post.author %}
                <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
                    <span class="bi bi-pencil-square" title="изменить"></span> </a>
                <a class="btn btn-default" href="{% url 'post_delete' slug=post.slug %}">
                    <span class="bi bi-trash" title="удалить"></span> </a>
                {% if post.draft == True %}
                    <a href="{% url 'published_draft' slug=post.slug %}">Опубликовать</a>
                {% endif %}
            {% endif %}

        </div>


        <div class="col-3">
            Всего комментариев: {{ comments.counter }}<br>

            {% if user.is_authenticated %}
                <a href="{% url 'post_comment' slug=post.slug %}"> Добавить комментарий</a>
                <br><br>
                Комментарии:<br><br>
                <div class="post" xmlns="http://www.w3.org/1999/html">
                {% for comment in comments %}
                    {{ comment.author }}<br>
                    <div class="date">
                        Опубликован: {{ comment.date }}<br>
                    </div>
                    {{ comment.text }}<br>
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'comment_like_or_dislike' slug=post.slug comment_pk=comment.pk is_like='like'%}">
                            <span class="bi bi-hand-thumbs-up"> {{ comment.comment_likes }}</span></a>
                        <a class="btn btn-default" href="{% url 'comment_like_or_dislike' slug=post.slug comment_pk=comment.pk is_like='dislike'%}">
                            <span class="bi bi-hand-thumbs-down"> {{ comment.comment_dislikes }}</span></a>
                    {% endif %}
                    {% if user == comment.author %}
                        <a class="btn btn-default" href="{% url 'comment_edit' slug=post.slug comment_pk=comment.pk %}">
                            <span class="bi bi-pencil-square" title="изменить"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_delete' slug=post.slug comment_pk=comment.pk %}">
                            <span class="bi bi-trash" title="удалить"></span></a>
                    {% endif %}
                    <br><br>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        </div>
</div>



{% endblock %}