.page-header {
    background-color: #008000;
    margin-top: 2;
    padding: 60px 60px 60px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: black;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #483D8B;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: black;
    float: right;
    font-size: 24pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

div.container {
    height: 10em;
    position: relative }
div.container h {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    font-size: 100pt;
    color: black;
    font-family: 'Lobster', cursive;
    transform: translate(-50%, -50%) }
