{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-md-center">
        <div class="col-2">
			<h6>
				<ul class="list-group">
					<li class="list-group-item">
						<a href="/">Все категории</a>
					</li>
					{% for category in categories %}
						{% if category  == product.category%}
							<li class="list-group-item" >
								<a href="{{  category.get_absolute_url  }}" style="color: red">{{ category.name }}</a>
							</li>
						{% else %}
							<li class="list-group-item">
								<a href="{{  category.get_absolute_url  }}">{{ category.name }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</h6>
		</div>

		<div class="col-6">
			<h1>{{ product.name }}</h1>
			<p>

				<img src="{{product.image.url }}" alt="изображение продукта"
					style="height: 320px; width: auto; float:left; margin: 7px 7px 7px 7px;">
                {% if product.rating > 0 %}
					<h4>Средняя оценка: {{ product.rating }}</h4><br>
				{% else %}
					<h4><a href='{% url "review" slug=product.slug %}' title="Написать отзыв">Отзывов пока нет</a></h4>
				{% endif %}
                <h4>Описание: </h4>
				{{ product.description | safe }}
			</p>
			<h4>
                Цена: {{ product.price }}
                <form action="{% url 'cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_product_form }}
                    <input type="submit" value="Добавить в корзину" class="btn btn-outline-danger">
                </form>
            </h4>

		</div>

		<div class="col-2">
			{% if user.is_authenticated %}
				<a href='{% url "review" slug=product.slug %}' title="Написать отзыв"> Написать отзыв </a>
				<br><br>
				{% if product.rating > 0  %}
					<div class="post">Отзывы:
						{% for review in reviews %}
							<br>
							{{ review.author }}<br>
							<div class="date">
								Опубликован: {{ review.date }}<br>
								Оценка: {{ review.mark }}
							</div>
							Отзыв: {{ review.text_1 }}<br>
							{% if review.text_2 %}
								Плюсы: {{ review.text_2 }}<br>
							{% elif review.text_3 %}
								Минусы: {{ review.text_3 }}<br>
							{% endif %}
							{% if user.is_authenticated %}
								<a class="btn btn-default" href="{% url 'review_like_or_dislike' slug=product.slug review_pk=review.pk is_like='like'%}">
									<span class="bi bi-hand-thumbs-up"> {{ review.likes }}</span></a>
								<a class="btn btn-default" href="{% url 'review_like_or_dislike' slug=product.slug review_pk=review.pk is_like='dislike'%}">
									<span class="bi bi-hand-thumbs-down"> {{ review.dislikes }}</span></a>
							{% endif %}<br>
							{% if user == review.author %}
								<a class="btn btn-default" href="{% url 'review_edit' slug=product.slug review_pk=review.pk %}">
									<span class="bi bi-pencil-square" title="изменить"></span></a>
								<a class="btn btn-default" href="{% url 'review_delete' slug=product.slug review_pk=review.pk %}">
									<span class="bi bi-trash" title="удалить"></span></a>
							{% endif %}
							<br><br>
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
		</div>

	</div>
    </br>

</div>

{% endblock %}