{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <h6 >
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/">Все категории</a>
                    </li>
                    {% for cat in categories %}
						{% if cat  == category%}
							<li class="list-group-item" >
								<a href="{{  cat.get_absolute_url  }}" style="color: red">{{ cat.name }}</a>
							</li>
						{% else %}
							<li class="list-group-item">
								<a href="{{  cat.get_absolute_url  }}">{{ cat.name }}</a>
							</li>
						{% endif %}
					{% endfor %}
                </ul>
            </h6>
        </div>

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                     <h1>Продукты: </h1>
                </li>
                {% for product in products %}
                <li class="list-group-item" >
                    <p>
                        <img src="{{product.image.url }}" alt="изображение продукта"
                            style="height: 220px; width: auto; float:left; margin: 7px 7px 7px 7px;">
                        <h6><a href="{{ product.get_absolute_url }}"  style="color: black; font-size: 36pt;">{{product.name}}</a></h6>
                        <h4>Описание: </h4>{{product.description | truncatechars:100}}
                    </p>
                    <h4>Средняя оценка: {{ product.rating }}</h4><br>
                    <h4>
                        Цена: {{ product.price }}
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <input type="submit" value="Добавить в корзину" class="btn btn-outline-danger">
                        </form>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                    </h4>

                </li>
                <br>
                {% endfor %}
            </ul>
        </div>

      </div>

    </div>

{% endblock %}